@media screen and (min-width: 701px) and (max-width:1199px) {
	.nav ul {
		height: auto;
		flex-wrap: wrap;
	}
	
	.nav li {
		flex: 0 1 33.3333333333333333333333%;
	}
	
	.nav .social {
		flex: 0 1 10%;
	}
	
	.nav li:nth-child(4),
	.nav li:nth-child(5) {
		flex: 0 1 40%;
	}
}